In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("films.csv")

In [3]:
df

       ACTORS       FILMS  YEAR       GENRE  BOX OFFICE  IMDB
0         SRK      Pathan  2023      Action        1050   7.2
1      Salman       Tiger  2017      Action         565   6.0
2       Aamir      Dangal  2016   Biography        2024   8.4
3      Ranbir  Brahmastra  2022     Fantasy         431   5.6
4     Ranveer    Padmavat  2018  Historical         585   7.0
5   Ayushmaan   Andhadhun  2018    Thriller         111   8.3
6    Rajkumar       Stree  2018      Horror         180   7.5
7      Hritik         WAR  2019      Action         475   6.5
8      Askhay        Good  2019      Comedy         318   7.0
9      Kartik       Bhool  2022      Horror         266   5.9
10      Varun   Badrinath  2017    Romantic         201   6.1
11      Vicky         URI  2019      Action         342   8.2

In [4]:
df=df[df["IMDB"]> 7]

In [8]:
df

       ACTORS      FILMS  YEAR      GENRE  BOX OFFICE  IMDB
0         SRK     Pathan  2023     Action        1050   7.2
2       Aamir     Dangal  2016  Biography        2024   8.4
5   Ayushmaan  Andhadhun  2018   Thriller         111   8.3
6    Rajkumar      Stree  2018     Horror         180   7.5
11      Vicky        URI  2019     Action         342   8.2

In [9]:
df.to_csv("films_updated.csv", index= False)