In [9]:
import pandas as pd

In [42]:
df=pd.read_csv("films.csv")
df

       ACTORS       FILMS  YEAR       GENRE  BOX OFFICE  IMDB
0         SRK      Pathan  2023      Action        1050   7.2
1      Salman       Tiger  2017      Action         565   6.0
2       Aamir      Dangal  2016   Biography        2024   8.4
3      Ranbir  Brahmastra  2022     Fantasy         431   5.6
4     Ranveer    Padmavat  2018  Historical         585   7.0
5   Ayushmaan   Andhadhun  2018    Thriller         111   8.3
6    Rajkumar       Stree  2018      Horror         180   7.5
7      Hritik         WAR  2019      Action         475   6.5
8      Askhay        Good  2019      Comedy         318   7.0
9      Kartik       Bhool  2022      Horror         266   5.9
10      Varun   Badrinath  2017    Romantic         201   6.1
11      Vicky         URI  2019      Action         342   8.2

In [43]:
df['ACTORS']

0           SRK
1        Salman
2         Aamir
3        Ranbir
4       Ranveer
5     Ayushmaan
6      Rajkumar
7        Hritik
8        Askhay
9        Kartik
10        Varun
11        Vicky
Name: ACTORS, dtype: object

In [44]:
df['ACTORS'][4]

'Ranveer'

In [48]:
df[['ACTORS','IMDB']]

       ACTORS  IMDB
0         SRK   7.2
1      Salman   6.0
2       Aamir   8.4
3      Ranbir   5.6
4     Ranveer   7.0
5   Ayushmaan   8.3
6    Rajkumar   7.5
7      Hritik   6.5
8      Askhay   7.0
9      Kartik   5.9
10      Varun   6.1
11      Vicky   8.2

In [49]:
df.loc[0]#search by row label

ACTORS           SRK
FILMS         Pathan
YEAR            2023
GENRE         Action
BOX OFFICE      1050
IMDB             7.2
Name: 0, dtype: object

In [38]:
df.iloc[3]# search by index

ACTORS            Ranbir
FILMS         Brahmastra
YEAR                2022
GENRE            Fantasy
BOX OFFICE           431
IMDB                 5.6
Name: 3, dtype: object

In [53]:
df.loc[8,'FILMS']

'Good'

In [54]:
df.iloc[8,1]

'Good'

In [58]:
df.loc[0:4,["ACTORS","IMDB","FILMS"]]

    ACTORS  IMDB       FILMS
0      SRK   7.2      Pathan
1   Salman   6.0       Tiger
2    Aamir   8.4      Dangal
3   Ranbir   5.6  Brahmastra
4  Ranveer   7.0    Padmavat

In [59]:
df.at[0,'ACTORS']

'SRK'

In [60]:
df.iat[0,0]

'SRK'

In [67]:
df[df['IMDB']>5]

       ACTORS       FILMS  YEAR       GENRE  BOX OFFICE  IMDB
0         SRK      Pathan  2023      Action        1050   7.2
1      Salman       Tiger  2017      Action         565   6.0
2       Aamir      Dangal  2016   Biography        2024   8.4
3      Ranbir  Brahmastra  2022     Fantasy         431   5.6
4     Ranveer    Padmavat  2018  Historical         585   7.0
5   Ayushmaan   Andhadhun  2018    Thriller         111   8.3
6    Rajkumar       Stree  2018      Horror         180   7.5
7      Hritik         WAR  2019      Action         475   6.5
8      Askhay        Good  2019      Comedy         318   7.0
9      Kartik       Bhool  2022      Horror         266   5.9
10      Varun   Badrinath  2017    Romantic         201   6.1
11      Vicky         URI  2019      Action         342   8.2

In [68]:
df[df['IMDB']>8]['ACTORS']

2         Aamir
5     Ayushmaan
11        Vicky
Name: ACTORS, dtype: object

In [70]:
df[(df['IMDB']>6)& (df['YEAR']>2018)]

    ACTORS   FILMS  YEAR   GENRE  BOX OFFICE  IMDB
0      SRK  Pathan  2023  Action        1050   7.2
7   Hritik     WAR  2019  Action         475   6.5
8   Askhay    Good  2019  Comedy         318   7.0
11   Vicky     URI  2019  Action         342   8.2

In [74]:
df.query("YEAR>2018 and IMDB>7")

   ACTORS   FILMS  YEAR   GENRE  BOX OFFICE  IMDB
0     SRK  Pathan  2023  Action        1050   7.2
11  Vicky     URI  2019  Action         342   8.2