In [1]:
import pandas as pd

In [2]:
s1=pd.Series([44,55,77,67,36])
type(s)

pandas.core.series.Series

In [3]:
print (s)

0    44
1    55
2    77
3    67
4    36
dtype: int64

In [6]:
s2=pd.Series([44,55,77,67,36], index=["harsh","chanda","ayush","sid","manish"])
print(s2)

harsh     44
chanda    55
ayush     77
sid       67
manish    36
dtype: int64

In [15]:
data={
    "name":["harsh","aush","avi"],
    "age":[23,45,67],
    "city":["noida","delhi","gkp"]
}

In [16]:
pd.DataFrame(data)

    name  age   city
0  harsh   23  noida
1   aush   45  delhi
2    avi   67    gkp

In [10]:
df= pd.DataFrame(data)

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.columns

Index(['name', 'age', 'city'], dtype='object')